.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

gestures/
old_cnn_backup/

all_sequences.pkl
all_labels.pkl
train_sequences.pkl
test_sequences.pkl
train_labels.pkl
test_labels.pkl
landmark_data.csv
training_history.json

dist/
node_modules/
